<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
<!--    Event Binding Syntax -->
    <button type="button" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
      <span class="badge">{{hero.id}}</span>
      <span class="name">{{hero.name}}</span>
    </button>
  </li>
</ul>

<!--  Angular property binding. Bind's heros-component's selectedHero property
      on to hero-detail's hero property. Parent passes in value to child component.-->
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>

